.parent_tableAll{
  display: flex;
  justify-content: center;
  height: 80vh;

}
.buttonColor{
  background-color: #130f40da;
  color: white;
}
h2{
  text-align: center;
}
.tableAll {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 80%;
  table-layout: fixed;
}

.tableAll caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

.tableAll tr {
  background-color: lightgray;
  border: 1px solid #ddd;
  padding: .35em;
}

.tableAll th,
.tableAll td {
  padding: .625em;
  text-align: center;
}

.tableAll th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .tableAll {
    border: 0;
  }

  .tableAll caption {
    font-size: 1.3em;
  }
  
  .tableAll thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .tableAll tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  .tableAll td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .tableAll td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .tableAll td:last-child {
    border-bottom: 0;
  }
}

/* general styling */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  font-size: small;
  background-color: rgb(138, 138, 195);
  

}